<h1>UserMail#sendReport</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mail_mailer/sendReport.html.erb
</p>
<p>
  Usted creo: <%= @countArticles %> artículos.
</p>
<p>
  Usted escribio: <%= @countCommentsDo %> comentarios.
</p>
<p>
  Sus artículos recibieron: <%= @countCommentsReceived %> comentarios.
</p>