<h3>Reporte</h3>
<div class="field">
	<div class="col-xs-6 col-md-3\">
		<input type="date" id="dateFilter" class="form-control" >
	</div>
	<input id="btn-report" type="submit" class="btn be-green gray" value="Reporte" />
<div>

<% @articles.each do |art| %>
	<h1><%= link_to art.title, art %></h1>
	<div>
		<%= art.body.html_safe %> - <%= link_to "Eliminar", art, method: :delete, class:"red"%> - 
		<% if art.may_publish? %>
			<%= link_to "Publicar", "/articles/#{art.id}/publish", method: :put, class:"blue"%>
		<%end%>
	</div>
<%end%>