<h1>CommentMail#mailComment</h1>

<p>
  <%= @greeting %>, find me in app/views/comment_mail_mailer/mailComment.html.erb
</p>
<p>
  El comentario lo creo: <%= @commentAuthor %>
</p>
<p>
  <%= @commentBody %>
</p>
